
<div [ngClass]="'todo-container'">
<h2>TODO List</h2>
<p>A place to store your todos</p>
<input type="text" name="textstuff" placeholder="Filter your to-dos">

<div [ngClass]="'forItems'" *ngFor="let todo of todoList; index as i">
    <p>{{ i + 1}}.</p>
    <button [ngClass]="'complete-button'" *ngIf="todo.completed">Complete</button>
    <p [ngClass]="{ toDoCompleted: !todo.completed }">{{ todo.task }}</p>
    <button [ngClass]="'delete-button'">X</button>
    </div>
    <input type="text" name="textstuff2" placeholder="Add your to-do">
    <button [ngClass]="'add-button'">Add</button>
</div>

